@import 'variables';
h1{
    color: $red-color;
}
.card-course-item{
    margin-top: 16px;
    
}

.user-avatar {
    width: 28px;
    height: 28px;
    margin-right: 4px;
    border-radius: 50%;

}
.select-checkbox-all-options{
    width: 180px;
    text-align: center;
    margin: 0 8px;
}